{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
  <h3 class="text-center">Iniciar Sesión</h3>
  <form method="POST" action="{{ url_for('auth.login') }}">
    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input type="text" name="usuario" class="form-control" required>
    </div>
    <div class="form-group mt-2">
      <label for="password">Contraseña</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary mt-3 w-100">Ingresar</button>
  </form>
</div>
{% endblock %}
